# Docker
# Build and push an image to Azure Container Registry
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

resources:
- repo: self

variables:
  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: '713d672b-ca98-41ba-a254-af158c69edfe'
  imageRepository: 'chrismisapipelinesjavascriptdocker'
  containerRegistry: 'chriscacr.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/app/Dockerfile'
  tag: '$(Build.BuildId)'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build and push stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: 'az login --service-principal --username 98c89365-8d18-4194-bac3-767ff4742eb6 --password phxi3v5czEECRGXoarLiUsJ._uLRrp0D8M --tenant b31b8976-d882-4c09-9837-8c70b26007ec'
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: 'docker login chriscacr.azurecr.io --username 98c89365-8d18-4194-bac3-767ff4742eb6 --password phxi3v5czEECRGXoarLiUsJ._uLRrp0D8M'    
    - task: Docker@2
      displayName: Build image to container registry
      inputs:
        command: build
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: 'chrisacr'
        tags: |
          $(tag)
    - task: Docker@2
      inputs:
        containerRegistry: 'chrisacr'
        repository: $(imageRepository)
        command: 'push'
        tags: |
          $(tag)        